.category-sidebar {
    width: 100%;
    background-color: ;
    height: 500px;
}
.category-content {
    background: blue;
    height: 500px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
.sidebar-icon,
.sidebar-link {
    padding: 0;
    font-size:25px !important;
}
.category-item {
    padding: 10px 15px;
    cursor: pointer;
    border-left: 5px solid transparent;
}

.category-item:hover {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
}

.category-content h6 {
    font-weight: bold;
    margin-bottom: 5px;
}

.category-content p {
    margin: 0;
    font-size: 14px;
}

.divider {
    border-top: 1px solid #e9ecef;
}

.submenu-section {
    margin-bottom: 20px;
}

.category-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-section div {
    width: 48%;
    margin-bottom: 10px;
}

/* sub-categories */
.scroll-subcategories {
    height: 500px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 20px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.main-category {
    width: 32%;
    padding-right: 15px;
}

.main-category-header {
    font-size: 1.5rem;
    color: #dc3545;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.subcategory-list {
    width: 68%;
    padding-left: 15px;
}

.subcategory-item {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.subcategory-title {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 5px;
}

.subcategory-children {
    padding-left: 20px;
}

.subcategory-child {
    font-size: 1rem;
    color: #6c757d;
}

.divider {
    margin: 10px 0;
}
